body {
  margin: auto;
  width: 50%;
  height: auto;
  display: block;
}

.intro h1 h3 {
  color: rgb(44, 35, 35);
  font-size: 45;
}

.leonard p {
  font-weight: 900;
}

.arnold p {
  font-style: italic;
  font-weight: 600;
}