body {
  margin: auto;
  width: 50%;
  height: auto;
  display: block;
}

.intro h1 h3 {
  color: rgb(44, 35, 35);
  font-size: 45;
}

.leonard p {
  font-weight: 900;
}

.arnold p {
  font-style: italic;
  font-weight: 600;
  color: #ba4747;
}

.butch {
  font-family: sans-serif;
  font-size: 12px;
}

.tinkerbell {
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  color: orange;
}


@media screen and (min-width: 780px) {
  .column {
    width: 350px;
    float: left;
    padding: 25px;
  }
}

@media screen and (max-width: 850px) and (min-width: 500px) {
  body {
    background-color: black;
    color: white;
  }   
}

@media screen and (max-width: 480px) {
  body {
    background-color: rgb(121, 228, 139);
  }
}